body {
	font-family: 'Open Sans', Arial;
}

.hero{
	background: radial-gradient(rgba(97,167,173,0.76) 0%,rgba(0,148,169,0.76) 100%), url("../images/bg.jpg"); /* W3C */
	height:400px;
	text-align: center;
	overflow: hidden;
	background-size: cover;
}

.hero > div {
	width: 960px;
	margin: 0 auto;
	min-height: 420px;
	position: relative;
}

header {
	min-height: 120px;
	position: relative;
}

header .logo {
	color: white;
	font-family: Lobster;
	font-size: 30pt;
	position: absolute;
	top:0;
	left:0;
}

header .logo:link {
	text-decoration: none;
}

.hero .search-box {
	position: absolute;
	top:5px;
	right: 0px;
}

.search-box .search {
	background-color: transparent;
	border:2px solid rgba(255,255,255,.45);
}
::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.search-box button {
	color: white;
	background-color: #ED4F00;
	border: none;
}

header nav {
	border-top: 2px solid rgba(255,255,255,.45) ;
	border-bottom: 2px solid rgba(255,255,255,.45);
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
}

header nav a {
	display: inline-block;
	margin: 15px;
	color: white; 
}

header nav a:link {
	text-decoration: none;
}

.hero-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	color: white;
}

.hero-text > div{
	font-size: 40pt;
	font-weight: 300pt;
}

.hero-text > div strong{
	font-weight: 700pt;
}

.hero-text > p {
	font-size: 12pt;
}

.primary {
	background-color: #D7E1E7;
	padding-bottom: 12px;
}

.primary > div {
	width: 960px;
	margin: 0 auto;
}

.breakouts {
	text-align: center;
}

.breakouts .breakout {
	background-color: white;
	width: 295px;
	min-height: 100px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	transform: translateY(-30px);
}

.breakouts .breakout:first-child {
	border-top: 4px solid #F54000;
}

.breakouts .breakout:first-child button {
	border: 1px solid #F54000;
	color: #F54000;
}

.breakouts .breakout:nth-child(2) {
	border-top: 4px solid #9CD751;
}

.breakouts .breakout:nth-child(2) button {
	border: 1px solid #9CD751;
	color: #9CD751;
}

.breakouts .breakout:last-child {
	border-top: 4px solid #53B5E3;
}

.breakouts .breakout:last-child button {
	border: 1px solid #53B5E3;
	color: #53B5E3;
}

.breakouts .breakout button {
	border-radius: 5px;
	background-color: transparent;
}

.primary-content {
	background-color: white; 
	min-height: 200px;
	padding-bottom: 5px;
}

aside {
	width: 400px;
	min-height: 350px; 
	float: left;
}

aside .aside-container {
	background-color: #C5E6FB;
	height: 80px;
	width: 390px;
}

aside .aside-container::after {
	content: '';
	display: block;
	clear: both;
}

.aside-container img{
	float: left;
	width: 80px;
	height: 80px;
}

aside .aside-container .content {
	margin-left: 90px; 
	min-height: 20px;
}

aside p {
	color: #288ED2;
	font-size: 14pt;
	margin-bottom: 2px;
}

main {
	height: 500px;
	margin-left: 400px;
	box-sizing: border-box;
	padding: 5px;
}

main::after {
	content: '';
	display: block;
	clear: both;
}

main .main-container {
	background-color: #E2EED4;
	display: inline-block;
	vertical-align: top;
	width: 150px;
	padding: 0;
	margin: 5px;
	color: #5E7A33;
}

main .main-container img {
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 0;
}

.main-content {
	background-color: #8CD133;
	margin: 0;
	color: #5E7A33;
}
